# Spotify
SPOTIPY_CLIENT_ID="your-client-id-here"
SPOTIPY_CLIENT_SECRET="your-client-secret-here"
SPOTIPY_REDIRECT_URI="http://127.0.0.1:8888/callback"


# SQL Server
SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=your_db_name_here
SQL_SERVER_USERNAME=sa
SQL_SERVER_PASSWORD=YourMockPasswordHere
SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server

SYNC_INTERVAL_SECONDS=1800 # 30 mins