# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pyc*

# Cache files
.cache/
*.cache

# Virtual environments
.venv/
venv/
env/

# .env files, except for .env.example
.env*
!.env.example

# Environment variables/secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store